@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Moderate-violet: hsl(263, 55%, 52%) ;
    --Very-dark-grayish-blue: hsl(217, 19%, 35%) ;
    --Very-dark-blackish-blue: hsl(219, 29%, 14%) ;
    --White: hsl(0, 0%, 100%) ;
    --Light-gray: hsl(0, 0%, 81%) ;
    --Light-grayish-blue: hsl(210, 46%, 95%) ;
    
}
/* 1. "Verified Graduate" has the same color as the person's
 name with 50% opacity
2. Review paragraphs inside the quotations have the same color
 as well, but are at 70% opacity
*/

body {
    font-size: 13px ;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--Light-grayish-blue);
}

.container {
    width: 1100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap : 25px ;
    margin: 30px auto;
}

.card-1 {
    background-color: var(--Moderate-violet);
    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: right 70px top 0;
    grid-column: 1/3 ;
    grid-row: 1/2 ;
}

.card-2 {
    background-color: var(--Very-dark-grayish-blue);
    grid-column: 3/4;
    grid-row: 1/2;
}

.card-3 {
    background-color: var(--White);
    grid-column: 1/2 ;
    grid-row: 2/3 ;
}

.card-4 {
    background-color: var(--Very-dark-blackish-blue);
    grid-column: 2/4 ;
    grid-row: 2/3;
}

.card-5 {
    background-color: var(--White);
    grid-column: 4/5;
    grid-row: 1/3;
}

.card {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card .info {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 20px;
}

.card .picture-card {
    border-radius: 50%;
    width: 35px;
    border: 1px solid var(--Light-gray);
    margin-right: 15px;
}

.card .name {
    font-weight: 500;
    color: var(--White);
}

.card .state {
    opacity: 50%;
    font-weight: 500;
}

.card .title {
    color: var(--White) ;
    padding: 0 25px 20px 20px;
    font-weight: 500;
}

.card .description {
    opacity: 70%;
    color: var(--White);
    line-height: 1.4 ;
    font-weight: 500;
    padding : 0 35px 20px 20px;
}

.card-4 .picture-card {
    border: 2px solid violet;
}

.card-3 .name {
    color: var(--Very-dark-blackish-blue);
}

.card-3 .title {
    color: var(--Very-dark-blackish-blue);
}

.card-3 .description {
    color: var(--Very-dark-blackish-blue);
}

.card-5 .name {
    color: var(--Very-dark-blackish-blue);
}

.card-5 .title {
    color: var(--Very-dark-blackish-blue);
}

.card-5 .description {
    color: var(--Very-dark-blackish-blue);
}


